p{color:blue;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;}

h4{background-color: rgb(46, 234, 96);}
h2{text-align: center;}


small{color: rgb(176, 16, 16);}
h6{background-color: palevioletred;}