p{color:blue;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;}

h4{background-color: rgb(46, 234, 96);}
h2{text-align: center;}


small{color: rgb(176, 16, 16);}
h6{background-color: palevioletred;}

#name{color: green;}

.ykd{color: rgb(6, 74, 74);}

.name{color: rgb(1, 1, 12);
    background-color: rgb(191, 100, 115);
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 45px;
    margin: 10px;
    left: 300px;
    
}

.npg{color: black;
width: 200px;
height: 200px;
background-color: yellow;
text-align: center;
padding: 50px;
position: absolute;
margin: 8px;
}

